.light {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.light .circle {
    $circleSize: 20px;
    height: $circleSize;
    width: $circleSize;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.3;
    margin: 3px;
}

.light .circle.active {
    opacity: 1;
}

.light .circle.red {
    background-color: red;
}

.light .circle.green {
    background-color: green;
}

.light .circle.yellow {
    background-color: rgb(255, 196, 0);
}