.todo-list {
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    &-item {
        font-size: 2rem;
        color: #252525;
    }
    &-done {
        text-decoration: line-through;
        opacity: 0.5;
    }
}